:root{
    --border-radius: 2px;
    --bg-color:rgba(255, 255, 255, 0.5);
    --box-shadow-color:rgba(0, 0, 0, 0.3);
    --box-shadow-range:8px;
    --hover-link-color:var(--el-color-primary)
}
body{
    margin:0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: var(--hover-link-color);
}